@import "../../sass/index.scss";

.card {
  display: flex;
  flex-direction: column;
  background-color: $secondary-color;
  width: 25rem;
  width: 25rem;
  height: 12rem;
  padding: 1rem;
  border-radius: .4rem;
  box-shadow: 0 0 .5rem $secondary-color;
}
.card__title {
  margin-left: 1rem;
  font-weight: 600;
  font-size: 1.3rem;
}
.card__content {
  margin: auto;
  text-align: center;
  font-size: 5rem;
}