@import "../../sass/index.scss";

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.5rem;

  label {
    font-weight: 600;
  }
}
nav {
  display: flex;
  gap: 1.5rem;
  margin-right: 1rem;

  a {
    color: $primary-color;
    text-decoration: inherit;
    transition: all .3s;

    &:hover {
      color: $quaternary-color;
    }
  }
}
@media (max-width: 375px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}