$primary-color: #ffffffde;
$secondary-color: #1c1a1d;
$tertiary-color: #242424;
$quaternary-color: #646cff;
$quinary-color: #747bff;
$senary-color: #fefefe;
$septenary-color: #5ba7fd;
$octonary-color: #ff5258;
$novenary-color: #008000;
$denary-color: #808080;
// #1c1a1d
// #2c2c2d